@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInSlider {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInSlider {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gradient-animation {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

@keyframes gradient-animation {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

ul {
  list-style-type: none;
}

i {
  pointer-events: none;
}

::-moz-selection {
  background-color: #27c3ff;
  color: #fff;
}

::selection {
  background-color: #27c3ff;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: 700;
  color: #424242;
}

h1 {
  font-size: 3.1rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.8rem;
  }
}

h2 {
  font-size: 2.6rem;
  background-color: #156787;
  background-image: linear-gradient(45deg, #156787, #ff0f9c);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 2.1rem;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 2.6rem;
  }
}

h4 {
  font-size: 1.6rem;
  background-color: #156787;
  background-image: linear-gradient(45deg, #156787, #ff0f9c);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h4 {
    font-size: 2.2rem;
  }
}

h5 {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  h5 {
    font-size: 1.8rem;
  }
}

h6 {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  h6 {
    font-size: 1.4rem;
  }
}

.section-heading {
  margin-bottom: 1.925rem;
}

ul,
a,
p {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  ul,
  a,
  p {
    font-size: 2.2rem;
  }
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #ff0f9c;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

a:hover {
  color: #27c3ff;
}

a.text-link {
  color: #ff0f9c;
}

a.text-link::after {
  position: absolute;
  content: '';
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff0f9c;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}

a.text-link:hover {
  color: #ff0f9c;
}

a.text-link:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

p.paragraph {
  margin-bottom: 3.85rem;
}

input,
textarea,
keygen,
select,
button {
  font-family: "Roboto", sans-serif;
}

strong {
  font-weight: 500;
  color: #090909;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.row .col {
  flex-basis: 100%;
}

@media screen and (min-width: 480px) {
  .row {
    flex-direction: row;
  }
  .row .col {
    flex: 1;
  }
  .row .col._20 {
    flex: 0 0 calc(20% - 1.6rem);
  }
  .row .col._25 {
    flex: 0 0 calc(25% - 1.6rem);
  }
  .row .col._33 {
    flex: 0 0 calc(33.333% - 1.6rem);
  }
  .row .col._50 {
    flex: 0 0 calc(50% - 1.6rem);
  }
  .row .col._75 {
    flex: 0 0 calc(75% - 1.6rem);
  }
}

.to-top {
  position: fixed;
  display: block;
  bottom: 1.6rem;
  right: 1.6rem;
  z-index: 1;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 999rem;
  background: #555555;
  transform: translateY(200%);
  transition: all 0.3s ease;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .to-top {
    bottom: 7.7rem;
    right: 3.2rem;
    width: 6rem;
    height: 6rem;
  }
}

.to-top.active {
  transform: translateY(0%);
  opacity: 1;
}

.to-top:hover {
  background: #ff0f9c;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.to-top img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3.8rem;
  width: 3.8rem;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 960px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 3.2rem;
  }
}

.section {
  padding: 7.7rem 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 11.55rem 0;
  }
}

.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.925rem 3.2rem;
  transition: all 0.3s ease;
}

.btn--primary {
  background: #27c3ff;
  color: #f9fdff;
}

.btn--primary:hover {
  background: #1e95c3;
  color: #f9fdff;
}

.btn--primary:active, .btn--primary:focus {
  outline: none;
  background: #156787;
  color: #f9fdff;
}

.btn--secondary {
  background: #ff0f9c;
  background-image: linear-gradient(145deg, #ff0f9c, #27c3ff);
  background-size: 200%;
  background-position: left;
  color: #fff8fc;
}

.btn--secondary:hover {
  background-position: right;
  color: #0f0109;
}

.btn--secondary:active, .btn--secondary:focus {
  outline: none;
  background-position: right;
  color: #0f0109;
}

.btn--white {
  background: #fff;
  color: #27c3ff;
}

.btn--white:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn--white:active, .btn--white:focus {
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn--outline, .btn--outline:link, .btn--outline:visited {
  background: transparent;
  border: 1px solid #27c3ff;
  color: #27c3ff;
}

.btn--outline:hover {
  color: #fff;
  background: #27c3ff;
}

.btn--outline:active, .btn--outline:focus {
  outline: none;
  color: #fff;
  background: #27c3ff;
}

.btn--outline-light, .btn--outline-light:link, .btn--outline-light:visited {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn--outline-light:hover {
  color: #27c3ff;
  background: #fff;
}

.btn--outline-light:active, .btn--outline-light:focus {
  outline: none;
  color: #27c3ff;
  background: #fff;
}

.btn--dark {
  background: #555555;
  color: #fff;
}

.btn--dark:hover {
  background: #424242;
}

.btn--dark:active, .btn--dark:focus {
  outline: none;
  background: #2f2f2f;
}

.btn--small, .btn--small:link, .btn--small:visited {
  padding: 0.9625rem 2rem;
  font-size: 1.2rem;
}

.btn--square, .btn--square:link, .btn--square:visited {
  width: 5.4rem;
  height: 5.4rem;
  padding: 0;
  text-align: center;
  font-size: 1.2rem;
}

.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease 0.75s;
  animation: moveInBottom 0.5s ease 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.btn-link, .btn-link:link, .btn-link:visited {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.9625rem 0;
  transition: all 0.3s ease;
  color: #ff0f9c;
  border-bottom: 2px solid #ff0f9c;
}

.btn-link:hover {
  color: #c30c77;
  border-bottom: 2px solid #c30c77;
}

.btn-link:active, .btn-link:focus {
  outline: none;
  color: #c30c77;
  border-bottom: 2px solid #c30c77;
}

.btn-link i {
  padding-left: 1.6rem;
  font-size: inherit;
  color: inherit;
}

.main-header {
  background: #ff3eaf;
  background: url(../img/background-stars.jpg) no-repeat top center/cover;
  height: 16rem;
  position: relative;
}

@media screen and (min-width: 480px) {
  .main-header {
    height: 20rem;
  }
}

@media screen and (min-width: 768px) {
  .main-header {
    height: 30rem;
  }
}

.header-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 85%;
}

@media screen and (min-width: 480px) {
  .header-logo {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .header-logo {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .header-logo {
    width: 35%;
  }
}

.nav {
  padding: 1.925rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav .lang-icons {
  display: flex;
  align-items: center;
}

.nav .lang-icons li {
  margin-left: 1.6rem;
}

.nav .lang-icons li img {
  height: 3.4rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
  transition: all 0.3s ease;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 999rem;
}

@media screen and (min-width: 1024px) {
  .nav .lang-icons li img {
    height: 4.4rem;
  }
}

.nav .lang-icons li img.active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  border: 5px solid rgba(255, 255, 255, 0.4);
}

.nav .lang-icons li img:hover {
  -webkit-filter: grayscale(25%);
  filter: grayscale(25%);
  border: 5px solid #ff0f9c;
}

.main-footer {
  position: relative;
  overflow: hidden;
  padding-top: 3.85rem;
  padding-bottom: 53.9rem;
  background: url(../img/stifte.jpg) no-repeat bottom center;
}

.footer-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-images .image {
  flex: 0 0 calc(33.33% - 2rem);
}

.footer-images .image .round {
  border-radius: 999rem;
  overflow: hidden;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7.7rem;
}

@media screen and (min-width: 768px) {
  .footer-nav {
    margin-top: 15.4rem;
  }
}

.footer-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav li a {
  color: #090909;
  font-size: 2.8rem;
}

.footer-nav li a:hover {
  color: #ff0f9c;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-bottom img {
  min-width: 200rem;
}

@media screen and (min-width: 1024px) {
  .footer-bottom img {
    width: 100%;
  }
}

.intro-header .section-heading {
  width: 26rem;
}

.section-book {
  background: #fafafa;
}

.book-header {
  margin-bottom: 3.85rem;
}

@media screen and (min-width: 768px) {
  .book-header .section-heading {
    width: 18rem;
  }
}

.book-preview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.book-preview .preview {
  flex: 0 0 calc(50% - 1.6rem);
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 768px) {
  .playlist-header .section-heading {
    width: 54rem;
  }
}

.playlist-box {
  margin-top: 3.85rem;
}

.playlist-box .tape {
  margin-bottom: 3.85rem;
}

.playlist-box .tape .tape-top {
  margin-bottom: 1.925rem;
  padding: 0.9625rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.playlist-box .tape .tape-top::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #d9d9d9;
  transition: all 0.5s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.playlist-box .tape .tape-top:hover::after {
  transform: scaleX(1);
}

.playlist-box .tape .tape-top .tape-image {
  flex: 1;
  margin-right: 1.6rem;
}

@media screen and (min-width: 768px) {
  .playlist-box .tape .tape-top .tape-image {
    margin-right: 3.2rem;
  }
}

.playlist-box .tape .tape-top .tape-title {
  flex: 3;
}

.playlist-box .tape .tape-top .tape-button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.playlist-box .tape .tape-top .tape-button .tape-btn {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .playlist-box .tape .tape-top .tape-button .tape-btn {
    font-size: 6rem;
  }
}

.playlist-box .tape .tape-top .tape-button .tape-btn .fa-plus {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .playlist-box .tape .tape-top .tape-button .tape-btn .fa-plus {
    font-size: 3rem;
  }
}

.playlist-box .tape .tape-top .tape-button .tape-btn .fa-caret-up {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .playlist-box .tape .tape-top .tape-button .tape-btn .fa-caret-up {
    font-size: 4rem;
  }
}

.playlist-box .tape .tape-content {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.playlist-box .tape .tape-content .tape-youtube {
  transition: all 1.5s ease;
  transform: translateY(-6rem);
  opacity: 0;
}

.playlist-box .tape .tape-content .tape-desc {
  margin-top: 1.925rem;
  transition: all 1.5s ease;
  transform: translateY(-2rem);
  opacity: 0;
}

.playlist-box .tape:target .tape-top {
  background: #d9d9d9;
}

.playlist-box .tape:target .tape-content {
  visibility: visible;
  height: auto;
}

.playlist-box .tape:target .tape-content .tape-youtube {
  transform: translateY(0rem);
  opacity: 1;
}

.playlist-box .tape:target .tape-content .tape-desc {
  transform: translateY(0rem);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .cta-header .section-heading {
    width: 26rem;
  }
}

.section-cta {
  background: #ff3eaf;
  background: url(../img/background-stars.jpg) no-repeat center center/cover;
}

@supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  @media screen and (min-width: 768px) {
    .section-cta {
      padding: 23.1rem 0;
      -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    }
  }
}

.cta-box {
  background: #fff;
}

@media screen and (min-width: 768px) {
  .cta-box {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .cta-box .cta-image {
    flex: 0 0 40%;
  }
}

.cta-box .cta-desc {
  padding: 3.85rem 1.6rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cta-box .cta-desc {
    text-align: left;
    flex: 0 0 60%;
  }
}

.explore-header {
  margin-bottom: 7.7rem;
}

.explore-header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-header .image img {
  width: 12rem;
}

.explore-header p {
  text-align: center;
  margin-top: 1.925rem;
}

@media screen and (min-width: 768px) {
  .explore-images {
    display: flex;
    justify-content: space-between;
  }
}

.explore-images .explore {
  margin-bottom: 7.7rem;
}

@media screen and (min-width: 768px) {
  .explore-images .explore {
    flex: 0 0 calc(33.33% - 4rem);
  }
}

.explore-images .explore .explore-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
}

.explore-images .explore .explore-image img {
  width: 12rem;
  border-radius: 999rem;
}

.explore-images .explore .explore-info {
  margin-top: 2.56667rem;
  text-align: center;
}

.explore-images .explore .explore-info .title {
  margin: 0 auto 1.925rem auto;
  width: 10rem;
}

.explore-images .explore .explore-info p {
  font-size: 1.6rem;
}

.section-feedback {
  background: #ff0f9c;
  background-image: linear-gradient(145deg, #ff0f9c, #27c3ff);
  background-size: 200%;
  background-position: left;
  -webkit-animation: gradient-animation 10s infinite alternate;
  animation: gradient-animation 10s infinite alternate;
}

@supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  @media screen and (min-width: 768px) {
    .section-feedback {
      -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
      padding: 23.1rem 0;
    }
  }
}

.feedback-box {
  background: #fff;
  padding: 3.85rem 1.6rem;
}

.feedback-box .feedback-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.85rem;
}

.feedback-box .feedback-images .image {
  flex: 0 0 calc(33.33% - 4rem);
}

.feedback-box .feedback-desc {
  text-align: center;
}

.feedback-box .feedback-desc p {
  margin-bottom: 1.925rem;
}

.scroll {
  transition: all 0.5s ease;
}

.scroll.scroll--fade-in {
  opacity: 0;
}

.scroll.scroll--fade-in.appear {
  opacity: 1;
}

.scroll.scroll--fade-in-top {
  opacity: 0;
  transform: translateY(-4rem);
}

.scroll.scroll--fade-in-top.appear {
  opacity: 1;
  transform: translateY(0rem);
}
