////////////////////////////////
// section cta

.section-cta {
  background: $color-accent-6;
  background: url(../img/background-stars.jpg) no-repeat center center / cover;
}

.cta-box {
  background: $color-white;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
  .cta-image {
    @media screen and (min-width: $tablet) {
      flex: 0 0 40%;
    }
  }
  .cta-desc {
    padding: $y $x;
    text-align: center;
    @media screen and (min-width: $tablet) {
      text-align: left;
      flex: 0 0 60%;
    }
    .title {
      margin-bottom: $y/2;
    }
  }
}

////////////////////////////////
// section sowhcase

.showcase-desc {
  .image {
    @include flex-center;
    img {
      height: 12rem;
    }
  }
}

////////////////////////////////
// section

////////////////////////////////
// section

////////////////////////////////
// section

////////////////////////////////
// section

////////////////////////////////
// section
