.divider {
  height: 18rem;
  background: linear-gradient(
    to bottom,
    $color-grey-10 50%,
    $color-white 50%,
    $color-white 100%
  );
  overflow: hidden;
  &--1 {
    position: relative;
    .left {
      position: absolute;
      top: 50%;
      left: 30%;
      height: 8rem;
      width: 8rem;
      padding: $x;
      transform: translate(0%, -50%);
      background: $color-black;
      border-radius: $radius-full;
      @include flex-center;
      box-shadow: $shadow-1;
      transition: $transition-1;
      &:hover {
        background: $color-accent-5;
      }
    }
    .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 8rem;
      width: 8rem;
      padding: $x;
      transform: translate(-50%, -50%);
      background: $color-black;
      border-radius: $radius-full;
      @include flex-center;
      box-shadow: $shadow-1;
      transition: $transition-1;
      &:hover {
        background: $color-accent-5;
      }
    }
    .right {
      position: absolute;
      top: 50%;
      right: 30%;
      height: 8rem;
      width: 8rem;
      padding: $x;
      transform: translate(0%, -50%);
      background: $color-black;
      border-radius: $radius-full;
      @include flex-center;
      box-shadow: $shadow-1;
      transition: $transition-1;
      &:hover {
        background: $color-accent-5;
      }
    }
    &.active {
      .left {
        transform: translate(-40rem, -50%);
        opacity: 0;
      }
      .middle {
        height: 16rem;
        width: 16rem;
        background: $color-primary-5;
        box-shadow: $shadow-3;
      }
      .right {
        transform: translate(40rem, -50%);
        opacity: 0;
      }
    }
  }
}
