////////////////////////////////
// main header
.main-header {
  background: $color-accent-6;
  background: url(../img/background-stars.jpg) no-repeat top center / cover;
  height: 16rem;
  position: relative;
  @media screen and (min-width: $phone) {
    height: 20rem;
  }
  @media screen and (min-width: $tablet) {
    height: 30rem;
  }
}

.header-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30%);
  width: 80%;
  @media screen and (min-width: $tablet) {
    width: 60%;
  }
  @media screen and (min-width: $desktop) {
    width: 40%;
  }
  @media screen and (min-width: $largeDesktop) {
    width: 35%;
  }
}
