////////////////////////////////////////
// button
.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: $button-font-size;
    font-weight: $button-weight;
    padding: ($y / 2) ($x * 2);
    border: 1px solid transparent;
    transition: $transition;
  }

  &--primary {
    background: $color-primary-5;
    color: $color-primary-10;
    &:hover {
      background: $color-primary-4;
      color: $color-primary-10;
    }
    &:active {
      background: $color-primary-3;
      color: $color-primary-10;
    }
  }

  &--secondary {
    background: $color-accent-5;
    color: $color-accent-10;
    &:hover {
      background: $color-accent-4;
      color: $color-accent-10;
    }
    &:active {
      background: $color-accent-3;
      color: $color-accent-10;
    }
  }

  &--white {
    background: $color-white;
    color: $color-primary-5;
    &:hover {
      background: transparent;
      border: 1px solid $color-white;
      color: $color-white;
    }
    &:active {
      background: transparent;
      border: 1px solid $color-white;
      color: $color-white;
    }
  }

  &--outline {
    &,
    &:link,
    &:visited {
      background: transparent;
      border: 1px solid $color-primary-5;
      color: $color-primary-5;
    }
    &:hover {
      color: $color-white;
      background: $color-primary-5;
    }
    &:active {
      color: $color-white;
      background: $color-primary-5;
    }
  }

  &--outline-light {
    &,
    &:link,
    &:visited {
      background: transparent;
      border: 1px solid $color-white;
      color: $color-white;
    }
    &:hover {
      color: $color-primary-5;
      background: $color-white;
    }
    &:active {
      color: $color-primary-5;
      background: $color-white;
    }
  }

  &--dark {
    background: $color-grey-5;
    color: $color-white;
    &:hover {
      background: $color-grey-4;
    }
    &:active {
      background: $color-grey-3;
    }
  }

  &--small {
    &,
    &:link,
    &:visited {
      padding: ($y / 4) ($x * 1.25);
      font-size: $button-font-size-small;
    }
  }

  &--square {
    &,
    &:link,
    &:visited {
      width: 5.4rem;
      height: 5.4rem;
      padding: 0;
      text-align: center;
      font-size: $button-font-size-small;
    }
  }

  &--animated {
    -webkit-animation: moveInBottom 0.5s ease 0.75s;
    animation: moveInBottom 0.5s ease 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

.btn-link {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: $button-font-size;
    font-weight: $button-weight;
    padding: ($y / 4) 0;
    transition: $transition;
    color: $color-accent-5;
    border-bottom: 2px solid $color-accent-5;
  }
  &:hover {
    color: $color-accent-4;
    border-bottom: 2px solid $color-accent-4;
  }
  &:active {
    color: $color-accent-4;
    border-bottom: 2px solid $color-accent-4;
  }
  i {
    padding-left: $x;
    font-size: inherit;
    color: inherit;
  }
}
