////////////////////////////////////////
// container

.container {
  margin: 0 auto;
  padding: 0 $x;
  max-width: $max-width;
  @media screen and (min-width: $tablet) {
    padding: 0 ($x * 4);
  }
}

////////////////////////////////////////
// section

.section {
  padding: $y/1.5 0;
  @media screen and (min-width: $tablet) {
    padding: ($y * 1.25) 0;
  }
}

.section-small {
  padding: $y/3 0;
  @media screen and (min-width: $tablet) {
    padding: $y 0;
  }
}

.section-large {
  padding: ($y * 2.5) 0;
  @media screen and (min-width: $tablet) {
    padding: ($y * 3) 0;
  }
}
