////////////////////////////////////////
// container

.container {
  margin: 0 auto;
  padding: 0 $x;
  max-width: $max-width;
  @media screen and (min-width: $tablet) {
    padding: 0 ($x * 2);
  }
}

////////////////////////////////////////
// section

.section {
  padding: ($y * 2) 0;
  @media screen and (min-width: $tablet) {
    padding: ($y * 3) 0;
  }
}
