////////////////////////////////////////
// to top button

.to-top {
  position: fixed;
  display: block;
  bottom: $x;
  right: $x;
  z-index: 1;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: $radius-full;
  background: $color-grey-5;
  transform: translateY(200%);
  transition: $transition;
  opacity: 0;
  @media screen and (min-width: $tablet) {
    bottom: $y * 2;
    right: $x * 2;
    width: 6rem;
    height: 6rem;
  }
  &.active {
    transform: translateY(0%);
    opacity: 1;
  }
  &:hover {
    background: $color-accent-5;
    box-shadow: $shadow-3;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3.8rem;
    width: 3.8rem;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}
