////////////////////////////////
// typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  line-height: 1.2;
  font-weight: $heading-weight;
  color: $color-grey-4;
}
h1 {
  font-size: 3.8rem;
  @media screen and (min-width: $tablet) {
    font-size: 3.8rem;
  }
}
h2 {
  font-size: 3.2rem;
  @include text-gradient;
  @media screen and (min-width: $tablet) {
    font-size: 3.2rem;
  }
}
h3 {
  font-size: 2.6rem;
  @media screen and (min-width: $tablet) {
    font-size: 2.6rem;
  }
}
h4 {
  font-size: 2.2rem;
  @include text-gradient;
  @media screen and (min-width: $tablet) {
    font-size: 2.2rem;
  }
}
h5 {
  font-size: 1.8rem;
  @media screen and (min-width: $tablet) {
    font-size: 1.8rem;
  }
}
h6 {
  font-size: 1.5rem;
  @media screen and (min-width: $tablet) {
    font-size: 1.5rem;
  }
}

////////////////////////////////
// section heading
.section-heading {
  margin-bottom: $y/2;
}

ul,
a,
p {
  font-size: 1.8rem;
  @media screen and (min-width: $tablet) {
    font-size: $base-font-size;
  }
}

a {
  text-decoration: none;
  font-weight: $regular;
  color: $color-accent-5;
  cursor: pointer;
  transition: $transition;
  &:hover {
    color: $color-primary-5;
  }
}

p {
  &.paragraph {
    margin-bottom: $y;
  }
}

input,
textarea,
keygen,
select,
button {
  font-family: $font-body;
}

strong {
  font-weight: $strong-weight;
  color: $color-grey-1;
}
